.tab {
  overflow: hidden;
  border: none;
  background-color: #ffffff;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.small-image img{
    height: 50px;
    width: 50px;
}

.big-image img{
    height: 100px;
    width: 100px;
}

.row{
    text-align: center;
}

.hover{
    transition: 0.3s;
}

.hover:hover{
    background-color: aqua;
}



