.tab {
  overflow: hidden;
  border: none;
  background-color: #ffffff;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #efefef;
}

.small-image img{
    height: 75px;
    width: 75px;
}

.big-image img{
    height: 150px;
    width: 150px;
}

.row{
    text-align: center;
    vertical-align: middle;
}

.hover{
    transition: 0.3s;
}

.hover:hover img{
    background-color: inherit;
    border: 1px solid #cae6ff;
}


[class*="col-"] span.small-text{
    font-size: 150%;
    font-family: 'Quicksand', sans-serif;
}

[class*="col-"] span.big-text{
    font-size: 150%;
    font-family: 'Roboto Slab', serif;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#6BB9FF;
  height: 3px;
}

.left-line {
    border-left: 2px solid #b5dcff;
    height: 1050px;
    left: 25%;
    margin-left: 3px;
    position: absolute;
    top: 50px;
}

.right-line {
    border-right: 2px solid #b5dcff;
    height: 1050px;
    right: 25%;
    margin-right: 3px;
    position: absolute;
    top: 50px;
}

body{
    background-image: linear-gradient(#f0fbff, #fff0fb);
}





