.tab {
  overflow: hidden;
  border: none;
  background-color: #ffffff;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.small-image img{
    height: 75px;
    width: 75px;
}

.big-image img{
    height: 150px;
    width: 150px;
}

.row{
    text-align: center;
    vertical-align: middle;
}

.hover{
    transition: 0.3s;
}

.hover:hover{
    background-color: aqua;
}

[class*="col-"] span.small-text{
    font-size: 150%;
    font-family: 'Quicksand', sans-serif;
}

[class*="col-"] span.big-text{
    font-size: 150%;
    font-family: 'Judson', serif;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#000000;
  height: 1px;
}



