.displayTrue {
    display: block
}

.displayFalse {
    display: none
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.lato {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: #01002e;
    color: white;
}

#jobs {
    text-align: center;
}

#interests {
    text-align: center;
}

#links {
    text-align: center;
}

#about {
    text-align: center;
}

h1 {
    padding-top: 4vh;
    font-size: 12vw;
    text-align: center;
    line-height: 0.5vh;
}

h3 {
    font-size: 6vw;
    text-align: center;
    line-height: 1vh;
}

p {
    font-size: 1.6vw;
    text-align: center;
    padding-right: 24vw;
}

input {
    padding: 1.25vw;
    color: #01002e;
    background-color: white;
    border: none;
    font-size: 1.5vw;
    width: 12vw;
    margin: 0.25vw;
    font-weight: 500 !important;
    transition: filter 0.5s;
}

input:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

#buttons {
    overflow: hidden;
    margin-left: 25%;
}

img {
    width: 100%;
    height: auto;
    /* Magic! */
    max-width: 10vw;
    padding-top: 4vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-left: 1%;
    transition: filter 1s;
}

img.aboutimg {
    width: 100%;
    height: auto;
    max-width: 20vw;
    padding-top: 0vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-left: 20%;
    float: left;
}

img.aboutimg:hover {
    filter: brightness(1);
    cursor: auto;
}

img:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

.clicked {
    filter: brightness(0.8);
}